@import 'tailwindcss';

@theme {
    /*기본 색상 비활성화*/
    --color-violet-*: initial;
    --color-gray-*: initial;
    --color-red-*: initial;
    --color-green-*: initial;

    /*violet*/
    --color-violet-100: #F0F0FC;
    --color-violet-200: #DFDEFF;
    --color-violet-300: #C1B7FF;
    --color-violet-400: #9F90F9;
    --color-violet-500: #7B65FF;
    --color-violet-600: #5A42EE;
    --color-violet-700: #452AEA;
    --color-violet-800: #2811BA;
    --color-violet-900: #1C0A88;

    /*gray*/
    --color-gray-100: #F1F5FA;
    --color-gray-200: #EDF2F8;
    --color-gray-300: #D7DFEA;
    --color-gray-400: #B5C1D2;
    --color-gray-500: #9099A5;
    --color-gray-600: #747A83;
    --color-gray-700: #41454A;
    --color-gray-800: #2E3032;
    --color-gray-900: #191B1E;

    /*red*/
    --color-red-100: #FEF2F2;
    --color-red-200: #FDD;
    --color-red-300: #FFB9B9;
    --color-red-400: #FF9090;
    --color-red-500: #FF5252;
    --color-red-600: #F52E2E;
    --color-red-700: #EE173C;
    --color-red-900: #5C0E0E;

    /*green*/
    --color-green-100: #EAFFEF;
    --color-green-400: #8AEA9F;
    --color-green-500: #69D180;
    --color-green-600: #41BF5D;
    --color-green-900: #165524;

    /*폰트*/
    --font-pretendard: 'Pretendard', sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/woff2/PretendardVariable.woff2')
        format('woff2-variations');
    font-weight: 45 920;
    font-display: swap;
}

@layer base {
    * {
        @apply font-pretendard;
    }
}

@layer utilities {
}
